
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=Fjalla+One&family=PT+Serif&display=swap');


/* Style général */
html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.photo-container img {
    width: 100%;
    height: auto;
}

.info {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}
header, main, footer {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


h2 {
    color: rgb(70, 69, 69);
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.tiktok-embed {margin: 0!important; padding: 0!important; min-width: 50px!important; max-width: 50%!important; }


/* Réinitialisation de certains styles par défaut */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style du menu */


.oldone {
    margin-top: 100px;
    margin-bottom: 100px;
} 


.nav-background {
    height: 150px;
    background-position: top; 
    background-image: url('../img/ban2.png');
}


nav > ul {
    display: flex;
    justify-content: center; /* Centre les éléments du menu */
    margin-top: -75px;
    margin-bottom: 75px;
    
}

nav ul li {
    margin: 0 10px; /* Espacement entre les éléments du menu */
   
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none; /* Enlève le soulignement des liens */
    color: #d42e00; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s; /* Animation de fond */
    /*mix-blend-mode: difference;*/
    
}

nav > ul > li > a {
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;

}



nav ul li:hover > ul {
    display: block; /* Affiche les sous-menus au survol */
    font-family: 'PT Serif', serif;
}

/* Style des liens dans les sous-menus */
nav ul ul a {
    padding: 5px 10px; /* Padding plus petit pour les sous-menus */
    color: #fff; /* Texte blanc */

}

nav ul ul a:hover {
    background-color: #fff /* Couleur de fond au survol dans les sous-menus */
}

/* Style du menu au survol et au clic */
/*Main Menu*/
nav ul li a:active {
    color: #ffffff;
    background-color:  rgba(255,255,255,0.1); /* Couleur plus foncée au survol/clic */
    border-radius: 5px; /* Coins arrondis pour l'effet au survol/clic */
}

nav ul li a:hover {
    color: #ffffff;
    background-color:  rgba(255,255,255,0.1); /* Couleur plus foncée au survol/clic */
    border-radius: 5px; /* Coins arrondis pour l'effet au survol/clic */
}

/*Submenu*/
nav ul li ul li a:active {
    color: #d42e00;
    background-color:  rgba(255,255,255,0.1); /* Couleur plus foncée au survol/clic */
    border-radius: 5px; /* Coins arrondis pour l'effet au survol/clic */
}

nav ul li ul li a:hover {
    color: #d42e00;
    background-color:  rgba(255,255,255,0.1); /* Couleur plus foncée au survol/clic */
    border-radius: 5px; /* Coins arrondis pour l'effet au survol/clic */
}

/* Style pour le bouton du menu hamburger */
#menu-toggle {
    display: none; /* Cache le bouton par défaut */
    font-size: 24px; /* Taille du symbole hamburger */
    background: none;
    border: none;
    color: white; /* Couleur du symbole hamburger */

}
.image-container {
    text-align: center; /* Centre l'image horizontalement */
    margin: 20px 0; /* Ajoute un peu d'espace autour de l'image */
}

.image-container img {
    width: 100%; /* Fait en sorte que l'image prenne toute la largeur du conteneur */
    max-width: 600px; /* Limite la largeur maximale de l'image */
    height: auto; /* Garde le ratio de l'image */
    display: block; /* Élimine tout espace indésirable sous l'image */
    margin: 0 auto; /* Centre l'image horizontalement si elle est plus petite que la largeur maximale */
}
.image3-container img {
    width: 30%; 
    height: auto; /* Garde le ratio de l'image */
    display: block; /* Élimine tout espace indésirable sous l'image */
    margin: 0 auto;
    color: #666;
    line-height: 1.6;
}
#about-me {
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#about-me p {
    color: #666;
    line-height: 1.6;
}
@media screen and (min-width: 1283px) {
    nav ul ul {
        display: none; /* Cache les sous-menus par défaut */
        position: absolute; /* Positionne les sous-menus */
        background-color: #cecece; /* Couleur de fond des sous-menus */
        border-radius: 5px; /* Coins arrondis pour les sous-menus */
        padding: 5px; /* Un peu de padding autour des sous-menus */
        min-width: 200px; /* Largeur minimale pour les sous-menus */
    }
}

/* Style pour les écrans de moins de 768px */
@media screen and (max-width: 1283px) {
    /* Affiche le bouton du menu hamburger */
    #menu-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        cursor: pointer;
    }

    /* Cache le menu par défaut */
    #menu {
        display: none;
    }

    /* Affiche le menu lorsque la classe 'active' est ajoutée */
    #menu.active {
        display: block;
    }
    nav ul {
        background-color: #6f6f6f;
    }
    nav ul ul {
        display: block; /* Affiche toujours les sous-menus */
        background-color: #cecece; /* Fond rose pour les sous-menus */
        padding: 5px;
        border-radius: 5px; /* Coins arrondis pour les sous-menus */
    }

    nav ul ul a {
        padding: 5px 10px;
        color: #fff; /* Texte blanc pour les sous-menus */
        display: block;
    }


    /* Autres styles pour le menu et les sous-menus... */
}
.log-entry {
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.log-entry h3 {
    color: #e8491d;
    margin-bottom: 10px;
}

.log-entry p {
    color: #666;
    line-height: 1.6;
}


@media screen and (max-width: 767px) {
    .tiktok-embed {max-width: 100%!important; }

}
.highlighted-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #d42e00;
    text-align: center;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}